<% layout("/layouts/boilerplate") -%>
<div class="order-container">
    <h1>Order Details</h1>
    <div class="order-details">
        <p>Order ID: </p>
        <p>Customer Name: </p>
        <p>Order Date: </p>
        <p>Total Amount: $</p>
    </div>
    
    <h2>Items in this Order</h2>
    
    
    <a href="/users/orders" class="back-button">Back to Orders</a>
</div>